#gameContainer {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 24, 0.5);
  position: relative;
  overflow: hidden;
}
#player {
  width: 40px;
  height: 52px;
  background-image: url("img/heros/character_maleAdventurer_side.png");
  background-size: 100%;
  background-position: center;
  position: absolute;
  z-index: 2;
}

.enemy{
  width: 40px;
  height: 52px;
  background-image: url("img/zombie/character_zombie_side.png");
  background-size: 100%;
  background-position: center;
  position: absolute;
  z-index: 2;
}
